<!-- THE HEADER -->
	<ng-include src="'shared/header.html'" ></ng-include>  

	<!-- MAIN CONTENT -->
	<div id="content-block">
		<div class="head-bg">
			
		</div>
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="col-md-2 left-feild">
					<form action="http://demo.nrgthemes.com/projects/nrgnetwork/" class="input-search">
						<input type="text" required placeholder="Enter keyword">
							<i class="fa fa-search"></i>
							<input type="submit" value="">
					</form>				
				</div>
			</div>
		</div></br></br>

		<div class="container-fluid custom-container">
			<div class="row">

				<div class="col-md-2 left-feild">
					<div class="be-vidget">
						<h3 class="letf-menu-article">
							All our Tags
						</h3>
						<div class="tags_block clearfix">
							<ul>
								<li ng-repeat="tag in tags"><a data-filter="{{tag.name}}" class="filter">{{tag.name}}</a></li>
								
							</ul>
						</div>
					</div>
	
				</div>

				<div class="col-md-10">
					<div id="container-mix"  class="row _post-container_">
						<div class="category-1 mix custom-column-5" ng-repeat="p in posts">
							<div class="be-post">
								<a href="page1.html" class="be-img-block">
									<img src="img/p1.jpg" alt="omg">
								</a>
								<a href="page1.html" class="be-post-title">{{p.title}}</a>
								<span>
									<a href="blog-detail-2.html" class="be-post-tag"></a>
									<a href="blog-detail-2.html" class="be-post-tag"></a>
									<a href="blog-detail-2.html" class="be-post-tag">{{p.description.longDesc}}</a>
								</span>
								<div class="author-post">
									<img src="img/a1.png" alt="" class="ava-author">
									<span>by <a href="page1.html">Hoang Nguyen</a></span>
								</div>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 360</span>
									<span><i class="fa fa-eye"></i> 789</span>
									<span><i class="fa fa-comment-o"></i> 20</span>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	<ng-include src="'shared/footer.html'" ></ng-include>  