<!-- Login -->
<header>
	<div class="container-fluid custom-container">
		<div class="row no_row row-header">
			<div class="brand-be">
				<img class="logo-c active be_logo"  src="img/logo.png" alt="logo">
			</div>
			<div class="login-header-block">
				<div class="login_block">
					<a class="btn-login btn color-1 size-2 hover-2" href="#" ><i class="fa fa-user"></i>
						Log in</a>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- MAIN CONTENT -->
<div id="content-block">
	<div class="head-bg">
		<div class="head-bg-img"></div>
		<div class="head-bg-content">
			<h1>Consult, Find Services and Share yours to the world</h1>
			<p>More than a simple social network</p>
			<a class="btn color-1 size-1 hover-1" href="http://127.0.0.1:3000/auth/facebook"><i class="fa fa-facebook"></i>sign up via facebook</a>
			<a class="btn color-1 size-1 hover-1" href="http://127.0.0.1:3000/auth/twitter" ><i class="fa fa-twitter"></i>sign up via twitter</a>
			<a class="btn color-1 size-1 hover-1" href="http://127.0.0.1:3000/auth/google" ><i class="fa fa-google"></i>sign up via goolge+</a>
			<a class="be-register btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>sign up now</a>
		</div>
	</div>
</div>
<div class="large-popup login">
	<div class="large-popup-fixed"></div>
	<div class="container large-popup-container">
		<div class="row">
			<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
				<div class="row">
					<div class="col-md-12">
						<i class="fa fa-times close-button"></i>
						<h5 class="large-popup-title">Log in</h5>
					</div>
					<form ng-submit="login(credentials)" role="form" class="popup-input-search">
						<div class="col-md-6">
							<input class="input-signtype" ng-model="credentials.email"
								   type="email" placeholder="Your email" required>
						</div>
						<div class="col-md-6">
							<input class="input-signtype" ng-model="credentials.password"
								   type="password" placeholder="Password" required>
						</div>
						<div class="col-xs-6">
							<div class="be-checkbox">
								<label class="check-box">
									<input class="checkbox-input" type="checkbox" value=""> <span class="check-box-sign"></span>
								</label>
								<span class="large-popup-text">
									Stay signed in
								</span>
							</div>

							<a href="blog-detail-2.html" class="link-large-popup">Forgot password?</a>
						</div>
						<div class="col-xs-6 for-signin">
							<input type="submit" class="be-popup-sign-button" value="SIGN IN">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="large-popup register">
	<div class="large-popup-fixed"></div>
	<div class="container large-popup-container">
		<div class="row">
			<div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
				<div class="row">
					<div class="col-md-12">
						<i class="fa fa-times close-button"></i>
						<h5 class="large-popup-title">Register</h5>
					</div>
					<form name="registerForm" ng-submit="register(newUser)" class="popup-input-search">
						<div class="col-md-6">
							<input class="input-signtype" ng-model="newUser.fname" type="text" placeholder="First Name" required>
						</div>
						<div class="col-md-6">
							<input class="input-signtype" ng-model="newUser.lname" type="text" placeholder="Last Name" required>
						</div>
						<div class="col-md-6">
							<div class="be-custom-select-block">
								<select class="be-custom-select"
										ng-options="country.name for country in init.countries track by country.name"
										ng-model="newUser.country">
									<option value="" disabled selected>
										Country
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<input class="input-signtype" ng-model="newUser.email"  type="text" required="" placeholder="Email">
						</div>
						<div class="col-md-6">
							<input class="input-signtype" type="password" required="" placeholder="Password" id="pw" name="password" ng-model="newUser.password"  ng-minlength="8">
						</div>
						<div class="col-md-6">
							<input class="input-signtype" type="password" required="" placeholder="Repeat Password" id="pw2" pwmatch="pw">
						</div>
						<div class="msg-block" ng-show="registerForm.$error">
						  <span class="msg-error" ng-show="registerForm.pw2.$error.pwmatch">
							Passwords don't match.
						  </span>
						</div>
						<div class="col-md-12 be-date-block">
							<span class="large-popup-text">
								Date of birth
							</span>
							<div class="be-custom-select-block">
								<select class="be-custom-select"
										ng-options="month.name for month in init.months track by month.nbr"
										ng-model="newUser.birthdate.month">
									<option value="" disabled selected>
										Month
									</option>
								</select>
							</div>
							<div class="be-custom-select-block">
								<select class="be-custom-select"
										ng-options="day for day in init.days track by day"
										ng-model="newUser.birthdate.day">
									<option value="" disabled selected>
										Day
									</option>
								</select>
							</div>
							<div class="be-custom-select-block">
								<select class="be-custom-select"
										ng-options="year for year in init.years track by year"
										ng-model="newUser.birthdate.year">
									<option value="" disabled selected>
										Year
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="be-checkbox">
								<label class="check-box">
									<input class="checkbox-input" type="checkbox" required="" value="" > <span class="check-box-sign"></span>
								</label>
								<span class="large-popup-text">
									I have read and agree to the <a class="be-popup-terms" href="#">Terms of Use</a> and <a class="be-popup-terms" href="#">Privacy Policy</a>.
								</span>
							</div>
							<div class="be-checkbox">
								<label class="check-box">
									<input class="checkbox-input" ng-model="newUser.newsletter" type="checkbox" value="" > <span class="check-box-sign"></span>
								</label>
								<span class="large-popup-text">
									Send me notifications
								</span>
							</div>
						</div>
						<div class="col-md-6 for-signin">
							<input type="submit" class="be-popup-sign-button" value="SIGN IN">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<footer>
	<div class="footer_slider">
		<div class="swiper-container" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="4" data-sm-slides="8" data-md-slides="14" data-lg-slides="19" data-add-slides="19">
			<div class="swiper-wrapper">
				<div class="swiper-slide active" data-val="0">

					<a href="gallery.html">				<img class="img-responsive img-full" src="img/f1.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="1">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f2.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="2">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f3.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="3">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f4.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="4">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f5.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="5">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f6.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="6">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f7.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="7">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f8.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="8">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f9.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="9">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f10.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="10">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f11.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="11">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f12.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="12">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f13.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="13">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f14.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="14">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f15.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="15">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f16.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="16">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f17.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="17">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f18.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="18">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f19.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="19">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f1.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="20">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f2.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="21">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f3.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="22">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f4.jpg" alt="">
					</a></div>
				<div class="swiper-slide" data-val="23">
					<a href="gallery.html">

						<img class="img-responsive img-full" src="img/f5.jpg" alt="">
					</a></div>
			</div>
			<div class="pagination hidden"></div>
		</div>
	</div>
	<div class="footer-main">
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="col-md-3 col-xl-4">
					<div class="footer-block">
						<h1 class="footer-title">About Us</h1>
						<p>Vestibulum tincidunt, augue fermentum accumsan viverra, eros dui rutrum libero, nec imperdiet felis sem in augue luctus <a href="page1.html">diam a porta</a> iaculis. Vivamus sit amet fermentum nisl. Duis id <a href="page1.html">massa id purus</a> tristique varius a sit amet est. Fusce dolor libero, efficitur et lobortis at, faucibus nec nunc.</p>
						<ul class="soc_buttons">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-xl-2">
					<div class="footer-block">
						<h1 class="footer-title">Some Links</h1>
						<div class="row footer-list-footer">
							<div class="col-md-6">
								<ul class="link-list">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="contact-us.html">Help</a></li>
									<li><a href="contact-us.html">Contacts</a></li>
									<li><a href="activity.html">Job</a></li>
									<li><a href="activity.html">Projets</a></li>
								</ul></div>
							<div class="col-md-6">
								<ul class="link-list">
									<li><a href="activity.html">New Works</a></li>
									<li><a href="author.html">Popular Authors</a></li>
									<li><a href="author.html">New Authors</a></li>
									<li><a href="people.html">Career</a></li>
									<li><a href="faq.html">FAQ</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 galerry">
					<div class="footer-block">
						<h1 class="footer-title">Recent Works</h1>
						<a href="page1.html"><img src="img/g1.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g2.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g3.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g4.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g5.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g6.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g7.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g8.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g9.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g10.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g11.jpg" alt=""></a>
						<a href="page1.html"><img src="img/g12.jpg" alt=""></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-block">
						<h1 class="footer-title">Subscribe On Our News</h1>
						<form action="http://demo.nrgthemes.com/projects/nrgnetwork/" class="subscribe-form">
							<input type="text" placeholder="Yout Name" required>
							<div class="submit-block">
								<i class="fa fa-envelope-o"></i>
								<input type="submit" value="">
							</div>
						</form>
						<div class="soc-activity">
							<div class="soc_ico_triangle">
								<i class="fa fa-twitter"></i>
							</div>
							<div class="message-soc">
								<div class="date">16h ago</div>
								<a href="page1.html" class="account">@faq</a> vestibulum accumsan est <a href="page1.html" class="heshtag">page1.htmlmalesuada</a> sem auctor, eu aliquet nisi ornare leo sit amet varius egestas.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container-fluid custom-container">
			<div class="col-md-12 footer-end clearfix">
				<div class="left">
					<span class="copy">© 2015. All rights reserved. <span class="white"><a href="page1.html"> NRGNetwork</a></span></span>
					<span class="created">Created with LOVE by <span class="white"><a href="page1.html"> Letscope</a></span></span>
				</div>
				<div class="right">
					<a class="btn color-7 size-2 hover-9">About Us</a>
					<a class="btn color-7 size-2 hover-9">Help</a>
					<a class="btn color-7 size-2 hover-9">Privacy Policy</a>
				</div>
			</div>
		</div>
	</div>
</footer>


<script src="script/jquery-2.1.4.min.js"></script>
<script src="script/jquery-ui.min.js"></script>
<script src="script/bootstrap.min.js"></script>
<script src="script/idangerous.swiper.min.js"></script>
<script src="script/jquery.mixitup.js"></script>
<script src="script/jquery.viewportchecker.min.js"></script>
<script src="script/filters.js"></script>
<script src="script/global.js"></script>
<script src="script/isotope.pkgd.min.js"></script>

	