	<!-- THE HEADER -->
	<ng-include src="'shared/header.html'" ></ng-include>  
    
	<!-- MAIN CONTENT -->
	<div id="content-block">
		<div class="container be-detail-container">
			<div class="row">
				<div class="col-xs-12 col-md-3 left-feild">
					<div class="be-vidget back-block">
						<a class="btn full color-1 size-1 hover-1" href="#/profile">
                            <i class="fa fa-chevron-left"></i>back to profile</a>
					</div>
					<div class="be-vidget hidden-xs hidden-sm" id="scrollspy">
						<h3 class="letf-menu-article">
							Choose Category
						</h3>
						<div class="creative_filds_block">
							<ul class="ul nav">
								<li class="edit-ln"><a data-sec="#">Basic Information</a></li>
								<li class="edit-ln"><a data-section="#">Edit Password</a></li>
								<li class="edit-ln"><a href="#">On The Web</a></li>
								<li class="edit-ln"><a href="#">About Me</a></li>
								<li class="edit-ln"><a href="#">Web References</a></li>
							</ul>
						</div>	
					</div>

				</div>
				<div class="col-xs-12 col-md-9 _editor-content_">
					<form ng-submit="uploadFile(file)">
						<div class="be-large-post">
							<div class="info-block style-2">
								<div class="be-large-post-align "><h3 class="info-block-label">Profile Image</h3></div>
							</div>
							<div class="be-large-post-align">
								<div class="be-change-ava">
									<a class="be-ava-user style-2" href="blog-detail-2.html">
										<img src="/img/a1.png" alt="">
									</a>
									<input class="btn color-4 size-2" type="file" value="Replace image" ngf-select ng-model="file"
										   name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" type="file">
								</div>
								<div class="col-xs-12">
									<input type="submit" class="btn color-1 size-2 hover-1 btn-right" value="UPDATE IMAGE">
								</div>
							</div>
						</div>
					</form>
						<form name="editProfileForm" ng-submit="update(profile)" role="form">
							<div class="be-large-post">
								<div class="info-block style-2">
									<div class="be-large-post-align "><h3 class="info-block-label">Basic Information</h3></div>
								</div>
								<h3>{{msg}}</h3>
							<div class="be-large-post-align">
								<div class="row">
									<div class="col-xs-12">
										<input type="submit" class="btn color-1 size-2 hover-1 btn-right" value="SAVE CHANGES">
									</div>
									<div class="input-col col-xs-12 col-sm-6">
										<div class="form-group fg_icon focus-2">
											<div class="form-label">First Name</div>
											<input ng-model="profile.fname" class="form-input" type="text" value="{{profile.fname}}">
										</div>							
									</div>
									<div class="input-col col-xs-12 col-sm-6">
										<div class="form-group focus-2">
											<div class="form-label">Last Name</div>									
											<input ng-model="profile.lname" class="form-input" type="text" value="{{profile.lname}}">
										</div>								
									</div>
									<div class="input-col col-xs-12">
										<div class="form-group focus-2">
											<div class="form-label">Occupation</div>									
											<input ng-model="profile.occupation" class="form-input" type="text" value="{{profile.occupation}}">
										</div>								
									</div>
									<div class="input-col col-xs-12">
										<div class="form-group focus-2">
											<div class="form-label">Company</div>									
											<input ng-model="profile.company" class="form-input" type="text" placeholder="">
										</div>								
									</div>
									<div class="input-col col-xs-12 col-sm-6">
										<div class="form-label">Country</div>
										<div class="be-drop-down icon-none">
											<select class="be-custom-select"
													ng-options="country for country in countries"
													ng-model="profile.country" required>
												<option value="" disabled selected>
													Country
												</option>
											</select>
										</div>
									</div>
									<div class="input-col col-xs-12 col-sm-6">
										<div class="form-group focus-2">
											<div class="form-label">City</div>									
											<input ng-model="profile.city" class="form-input" type="text" value="{{profile.city}}">
										</div>								
									</div>
									<div class="input-col col-xs-12">
										<div class="form-group focus-2">
											<div class="form-label">Website URL</div>									
											<input ng-model="profile.website" class="form-input" type="text" value="{{profile.website}}">
										</div>								
									</div>								
								</div>
							</div>
						</div>

						<div class="be-large-post">
							<div class="info-block style-2">
								<div class="be-large-post-align"><h3 class="info-block-label">Password</h3></div>
							</div>
							<div class="be-large-post-align">
								<div class="row">
									<div class="input-col col-xs-12 col-sm-4">
										<div class="form-group focus-2">
											<div class="form-label">Old Password</div>
											<input class="form-input" type="password" placeholder="">
										</div>
									</div>
									<div class="input-col col-xs-12 col-sm-4">
										<div class="form-group focus-2">
											<div class="form-label">New Password</div>
											<input class="form-input" type="password" placeholder="">
										</div>
									</div>
									<div class="input-col col-xs-12 col-sm-4">
										<div class="form-group focus-2">
											<div class="form-label">Repeat Password</div>
											<input class="form-input" type="password" placeholder="">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="be-large-post m-social">
							<div class="info-block style-2">
								<div class="be-large-post-align"><h3 class="info-block-label">On The Web</h3></div>
							</div>
							<div class="be-large-post-align">
								<div class="social-input form-group focus-2">
									<div class="s_icon">
										<div class="social-bars"><i class="fa fa-bars"></i></div>
										<a class="social-btn color-1" href="{{profile.facebook}}"><i class="fa fa-facebook"></i></a>
									</div>
									<div class="s_input">
										<input ng-model="profile.facebook" class="form-input" type="text" value="{{profile.facebook}}">
									</div>
								</div>
								<div class="social-input form-group focus-2">
									<div class="s_icon">
										<div class="social-bars"><i class="fa fa-bars"></i></div>
										<a class="social-btn color-2" href="blog-detail-2.html"><i class="fa fa-twitter"></i></a>
									</div>
									<div class="s_input">
										<input ng-model="profile.twitter" class="form-input" type="text" value="{{profile.twitter}}">
									</div>
								</div>
								<div class="social-input form-group focus-2">
									<div class="s_icon">
										<div class="social-bars"><i class="fa fa-bars"></i></div>
										<a class="social-btn color-3" href="blog-detail-2.html"><i class="fa fa-google-plus"></i></a>
									</div>
									<div class="s_input">
										<input ng-model="profile.google" class="form-input" type="text" value="{{profile.google}}">
									</div>
								</div>
								<div class="social-input form-group focus-2">
									<div class="s_icon">
										<div class="social-bars"><i class="fa fa-bars"></i></div>
										<a class="social-btn color-4" href="blog-detail-2.html"><i class="fa fa-pinterest-p"></i></a>
									</div>
									<div class="s_input">
										<input ng-model="profile.pinterest" class="form-input" type="text" value="{{profile.pinterest}}">
									</div>
								</div>
								<div class="social-input form-group focus-2">
									<div class="s_icon">
										<div class="social-bars"><i class="fa fa-bars"></i></div>
										<a class="social-btn color-5" href="{{profile.instagram}}"><i class="fa fa-instagram"></i></a>
									</div>
									<div class="s_input">
										<input ng-model="profile.instagram" class="form-input" type="text" value="{{profile.instagram}}">
									</div>
								</div>																													
							</div>
						</div>

						<div class="be-large-post">
							<div class="info-block style-2">
								<div class="be-large-post-align"><h3 class="info-block-label">About Me</h3></div>
							</div>
							<div class="be-large-post-align">
								<div class="row">
									<div class="input-col col-xs-12">
										<div class="form-group focus-2">
											<div class="form-label">About me</div>
											<input ng-model="profile.aboutme" class="form-input" type="text" value="{{profile.aboutme}}">
										</div>								
									</div>
									<div class="input-col col-xs-12">
										<div class="form-group focus-2">
											<div class="form-label">My Hobbies</div>
											<textarea ng-model="profile.myskills" class="form-input" value="{{profile.myskills}}"></textarea>
										</div>
									</div>
								</div>
							</div>						
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>
